.auto-fill-input {
    width: 20rem;
    &__items-list-wrapper {
        position: relative;
        top: -2px;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
        border-top: none;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 9999;
        &_hidden {
            display: none;
        }
    }
}
