.matched-element {
    display: flex;
    height: 1.5rem;
    align-items: center;
    padding: 0 15px;
    font-weight: normal;
    font-size: 14;
    width: 100%; 
    box-sizing: border-box;
    &:hover{
        background: #aaa;
    }
}