.input {
    position: relative;
    width: 20rem;
    height: 1.5rem;
    border-radius: 12px;
    border: 1px solid #ded9d9;
    padding: 0 15px;
    box-sizing: border-box;
    &:hover {
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    }
    &_cut-down {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border: none;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28) !important;
    }
    &__text-select-wrapper {
        position: absolute;
        color: transparent;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__selected-text {
        background-color: rgba(255,255,0, 0.4);
        height: 100%;
    }
    &__input {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
    }
    &__icon {
        position: absolute;
        right: 10px;
        width: 0.7rem;
        height: 0.7rem;
        fill: rgba(0,0,0,0.7);
        top: 25%;
    }
}